html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  color: #3C3C3C;
  background-color: #FAF3E0;
}

p {
  line-height: 1.6;
  margin: 0 0 16px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 50;
}
