html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Lora';
  src: url('/fonts/Lora-MediumItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Playfair Display';
  src: url('/fonts/PlayfairDisplay-Regular.ttf') format('truetype');
}

body {
  color: #3C3C3C;
  background-color: #FAF3E0;
}

p {
  line-height: 1.6;
  margin: 0 0 16px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 50;
}

h1, h2, h4 {
  font-family: 'Lora', serif;
  font-weight: 500;
}

a, button {
  font-family: 'Playfair Display', sans-serif !important;
  font-weight: 400;
  color: #F9F4EF;
}